// Body
$body-bg: #C8BAD3;
;

// Typography
$font-family-sans-serif: "Inter", sans-serif;
$font-size-base: 0.9rem;
$font-weight-base: 500;
$line-height-base: 1.6;

$link-decoration: none;

$primary: #7A87B8;

$input-bg: #fff;